@charset "utf-8";

body {
    background: url(../img/m_bg.jpg) no-repeat;
    background-size: cover;
}

/* 横幅的样式 */
.banner {
    width: 640px;
    height: 260px;
    background: 0 -137px url(../img/bg.jpg) no-repeat;
    margin: 80px;
    opacity: 0.8;
    box-shadow: 10px 15px 15px 1px black;
    position: relative;
}

/* 操作歌手图片 */
.banner ul li {
    list-style: none;
    display: inline-block;
    position: absolute;
}

.banner ul li img {
    border-radius: 50%;
    cursor: pointer;
}

.m1 {
    top: 30px;
    left: 90px;
}

.m2 {
    top: 140px;
    left: 50px;
}

.m3 {
    top: 73px;
    left: 209px;
}

.m4 {
    top: 8px;
    left: 449px;
}

.m5 {
    top: 180px;
    left: 410px;
}

@keyframes img_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.banner .img_rotate {
    animation: img_rotate 2s infinite linear;
}



/* 播放器 */
.music {
    width: 500px;
    height: 100px;
    background: black;
    position: fixed;
    left: 0;
    bottom: 50px;
    opacity: 0.8;
    box-shadow: 10px 15px 15px 1px black;
}

.music .m_img {
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}

.music .m_text {
    float: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 20px;
}

.music .m_btn {
    float: left;
    position: absolute;
    left: 310px;
}

.music .m_btn a {
    float: left;
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 20px;
}

.music .m_btn .m_prev {
    background: url(../img/上一首.png) no-repeat;
}

.music .m_btn .m_prev:hover {
    background-color: white;
}

.music .m_btn .m_play {
    background: url(../img/播放2.png) no-repeat;
}

.music .m_btn .m_play:hover {
    background-color: white;
}

.music .m_btn .m_next {
    background: url(../img/下一首.png) no-repeat;
}

.music .m_btn .m_next:hover {
    background-color: white;
}

.music .m_close {
    float: right;
    background: url(../img/合并.png) no-repeat;
    width: 30px;
    height: 120px;
    margin-top: 2px;
    cursor: pointer;
}


.music .m_btn .m_pause {
    background: url(../img/暂停.png) no-repeat;
}

.music .m_open {
    background: url(../img/收起.png) no-repeat;
}